
form{
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 52vh;
    border: 1px solid rgb(248, 245, 245);
    border-radius: 5px;
    color: white;
    margin-top: 5%;
    margin-left: 11.5%;
    /* padding-bottom: 4rem;
    padding-top: 1rem;
    padding-left: 1rem; */
    background-color: rgb(11, 56, 11);
    padding-left: 1rem

}


form button {
    width: 10vw;
    height: 2rem;
    margin-left: 26vw;
    border-radius: 12px;
    margin-top: 1vw;
    background-color: rgb(5, 38, 5);
    color: white;
    box-shadow: 0px 0px 1px 0px;
}

.name{
border-radius: 5px;

}

form label {
    float:left;
    text-align:right;
    width:10em;
    margin-right: 10px;
  }

.comment textarea {
    font-family:"Times New Roman", Times, serif;  
   font-size: 15px;  
   font-weight: 500; 
    height: 20vh;
    width: 40vw;
    text-align: left;
    padding: 1em;
    /* direction: ltr; 
    text-indent: 1px; */
}

.name, .surname, .comment {
    margin-top: 10px;
}


@media (max-width: 480px){
    form{
        display: flex;
        flex-direction: column;
        width: 55rem;
        height: 60rem;
        border: 1px solid rgb(248, 245, 245);
        border-radius: 5px;
        color: white;
        margin-top: 10%;
        margin-left: 11.5%;
        /* padding-bottom: 4rem;
        padding-top: 1rem;
        padding-left: 1rem; */
        background-color: rgb(11, 56, 11);
        padding-left: 1rem
    
    }


    form button {
        width: 20rem;
        height: 5rem;
        margin-left: 5rem;
        border-radius: 12px;
        margin-top: 2rem;
        background-color: rgb(5, 38, 5);
        color: white;
        box-shadow: 0px 0px 1px 0px;
    }
    
    .name input{
    height: 3rem;
    width: 40rem;
    
    }
    
    form label {
        float:left;
        text-align:right;
        width:10em;
        margin-right: 10px;
      }
    
    .comment textarea {
        font-family:"Times New Roman", Times, serif;  
       font-size: 15px;  
       font-weight: 500; 
        height: 20vh;
        width: 40vw;
        text-align: left;
        padding: 1em;
        /* direction: ltr; 
        text-indent: 1px; */
    }
    
    .name, .surname, .comment {
        margin-top: 10px;
    }
}