.book_item{
    width: 12rem;
    height: 14.5rem;
    margin: 2rem 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid; 
    padding-bottom: 50px;
    padding-top: 10px;
    border-radius: 7px;
    padding-left: 5px;
    box-shadow: 5px 5px 50px 20px rgb(18, 99, 1);
    background-color: rgb(41, 64, 41);
    color: white;
    position: relative;
}

.info_book{
    padding: 0px;
}

img{
    width:50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}

.book_item button {
    position: absolute;
    top: 88%;
    border-radius: 5px;
    cursor: pointer;
}

li:hover{
    cursor: pointer;
}

@media (max-width: 480px) {
    .book_item{
        width: 24rem;
        height: 28.5rem;
        padding-bottom: 8rem;
        margin-left: 0;
    
    }

    .info_book p{
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    .book_item button {
        position: absolute;
        top: 85%;
        border-radius: 5px;
        cursor: pointer;
        width: 14rem;
        height: 4rem;
        font-size: 2rem;
   }

}