.posted_comments{
   
    width: 71vw;
   
    border: 1px solid rgb(248, 245, 245);
    border-radius: 5px;
    color: white;
    margin-top: 10vh;
    margin-left: 11vw;
    background-color: rgb(108, 154, 108);
    
}

.posted_header{
    font-size:50px;
    color: white;
    margin-top: 4vh;
    margin-left: 2vw;
    margin-bottom: 6vh;
}

ul{
    list-style:none;
}